@import url('https://fonts.googleapis.com/css?family=Audiowide|Changa|Yrsa');
:root {
    --sunset-orange: #ee6352;
    --cyan-process: #08b2e3;
    --anti-flash-white: #efe9f4;
    --shiny-shamrock: #57a773;
    --independence: #484d6d;
}

body {
    margin: 0;
    font-family: 'Yrsa', serif;
    background-color: var(--anti-flash-white);
}

.header {
    text-align: center;
}

.title {
    color: var(--independence);
    margin: 0;
    padding: 40px 0;
}

.wrapper {
    margin: 0 auto;
    width: 480px;
}

.watch-display {
    font-family: 'Changa', sans-serif;
    border: 3px solid #fff;
    padding: 0 35px;
    width: 45%;
    margin: 0 auto;
    background-color: #eeefff;
    border-radius: 40px;
    box-shadow: 0 0 6px 1px var(--cyan-process);
}

.watch-time {
    font-size: 35px;
    color: var(--cyan-process);
}

#count-down {
    color: var(--sunset-orange);
}

.watch-controls {
    margin: 0 auto;
    padding: 40px 30px;
    text-align: center;
    height: 50px;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 5px;
    margin-left: 10px;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    font-family: inherit;
    width: 123px;
    border-radius: 10px;
}

.btn:hover {
    border: none;
    font-weight: 600;
}

.btn-start {
    color: var(--cyan-process);
    border: 2px solid var(--cyan-process);
}

.btn-reset {
    color: var(--sunset-orange);
    border: 2px solid var(--sunset-orange);
}

.btn-record {
    color: var(--shiny-shamrock);
    border: 2px solid var(--shiny-shamrock);
}

.btn-start:hover {
    box-shadow: 0 0 2px 3px var(--cyan-process);
}

.btn-reset:hover {
    box-shadow: 0 0 2px 3px var(--sunset-orange);
}

.btn-record:hover {
    box-shadow: 0 0 2px 3px var(--shiny-shamrock);
}

.past-times {
    color: var(--independence);
    font-size: 20px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 0;
}

.time-unit {
    color: var(--cyan-process);
    font-size: 18px;
}

.record-time-wrapper {
    min-height: 200px;
}

.record-time-wrapper ol {
    width: 160px;
    text-align: right;
}

.record-time-wrapper ol li {
    list-style-type: none;
    color: var(--independence);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 7px;
}

.counter {
    font-size: 16px;
    color: var(--independence);
}

.footer {
    color: var(--independence);
    text-align: center;
    font-size: 18px;
}

.author {
    font-weight: bold;
}

.github-link a {
    text-decoration: none;
    color: var(--cyan-process);
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        width: 100vw;
    }
    .watch-display {
        width: 60%;
    }
    .btn {
        width: 85px;
        padding: 10px 6px;
    }
    .record-time-wrapper {
        min-height: 135px;
    }
}